<?xml version="1.0"?>

<launch>
  <arg name="world" default="empty"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <node name="setup" pkg="gui" type="setup.sh"/>
  <!-- LOAD ROBOT -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find sparsh_computation)/urdf/sparsh.xacro"/>

  <!-- LOAD WORLD -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find sparsh_computation)/world/sparsh.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
    <remap from="/joint_states" to="/sparsh/joint_states"/>
  </node>

  <!-- LOAD JOI CONFIGURATION -->
  <rosparam file="$(find sparsh_computation)/config/sparsh.yaml" command="load"/>

  <!-- LOAD THE CONTROLLER -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="sparsh" args="
    top_right_column_to_base_link_position_controller
    top_left_column_to_base_link_position_controller
    middle_right_column_to_base_link_position_controller
    middle_left_column_to_base_link_position_controller
    bottom_right_column_to_base_link_position_controller
    bottom_left_column_to_base_link_position_controller
    joint_state_controller"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/sparsh/joint_states"/>
  </node>

  <!-- SPAWN ROBOT -->
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf
        -model sparsh
        -param robot_description"/>

  <node name="interface" pkg="gui" type="interface.py"/>
  <node name="voice_feedback" pkg="gui" type="voice_feedback.py"/>
  <node name="main" pkg="sparsh_computation" type="main.py" output="screen" args="--timeout 1" />
  <node name="control" pkg="sparsh_computation" type="column_control.py" output="screen"/>


</launch>
